In [2]:
import numpy as np
import pandas as pd

In [6]:
a = np.zeros(10)
a[0] = 1
a

array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [11]:
a = np.zeros(10)
a[1] = 2
done = 0 not in a
done

False

In [12]:
a

array([0., 2., 0., 0., 0., 0., 0., 0., 0., 0.])

In [15]:
True == 2

False

In [32]:

candidateAction = [1,33,45,67,87,99,111,222,333,444]
print(candidateAction)
validIndex = [1,3,5,7,9]
q = np.random.randint(10,size=10)
print(q)
validValue = q[validIndex]
print('validValue: {}'.format(validValue))
actionIndex = validIndex[np.argmax(validValue)]
candidateAction[actionIndex]

[1, 33, 45, 67, 87, 99, 111, 222, 333, 444]
[3 0 0 9 7 3 5 2 8 5]
validValue: [0 9 3 2 5]

67

In [39]:
candidateAction = [7, 69, 177, 208, 242, 273, 291, 302, 427, 429, 495, 539, 545, 550, 578, 609, 640, 642, 671, 673, 681, 702, 742, 757, 824, 825, 844, 848, 850, 875, 879, 881, 909, 927, 940, 958, 984, 999, 1005, 1009, 1029, 1043, 1053, 1081, 1115, 1135, 1158, 1172, 1203, 1309, 1313, 1315, 1340, 1346, 1350, 1365, 1396, 1428, 1459, 1494, 1508, 1510, 1518, 1525, 1539, 1541, 1549, 1666, 1696, 1704, 1729, 1731, 1760, 1762, 1774, 1805, 1831]
candidateTable = [[7], [], [7], [], [], [22], [22], [25], [25], [12, 23], [], [], [], [24, 26], [], [30], [], [12, 18, 23], [20], [20], [20, 22], [20, 22, 30], [20], [29], [13], [], [18, 19], [7, 11, 13], [7, 11, 13], [10, 28], [10, 28], [23], [7, 13, 17], [6, 20, 30], [27], [30], [19], [11, 25], [25], [], [], [], [7, 11, 13], [7, 13, 17], [1], [1], [2], [2], [6, 20, 22, 30], [6, 20, 22, 30], [], [], [], [23], [22, 30], [24, 26], [24, 26], [7], [7], [2]]

In [41]:
passWindow = np.random.randint(2,size=60)
print(passWindow)
invalidIndex = np.where(passWindow == 1)[0]
invalidIndex

[1 0 0 1 0 1 1 1 0 1 0 1 1 1 1 0 0 1 0 1 1 0 0 1 0 1 0 1 1 1 1 0 1 0 0 1 0
 1 0 1 0 0 0 0 1 1 0 1 0 1 1 1 0 0 1 0 1 0 1 1]

array([ 0,  3,  5,  6,  7,  9, 11, 12, 13, 14, 17, 19, 20, 23, 25, 27, 28,
       29, 30, 32, 35, 37, 39, 44, 45, 47, 49, 50, 51, 54, 56, 58, 59],
      dtype=int64)

In [55]:
invalidAction = []
M = 30 + 1
for passIndex in invalidIndex:
    for driverId in candidateTable[passIndex]:
        action = passIndex*M + driverId
        invalidAction.append(action)
invalidAction = list(set(invalidAction))
invalidAction.sort()
print(invalidAction), len(invalidAction)

[7, 177, 208, 242, 291, 302, 427, 429, 539, 545, 550, 609, 640, 642, 742, 844, 848, 850, 875, 879, 881, 909, 927, 940, 958, 999, 1005, 1009, 1115, 1158, 1172, 1365, 1396, 1459, 1525, 1539, 1541, 1549, 1696, 1704, 1760, 1762, 1805, 1831]

(None, 44)

In [52]:
candidateIndex = []
for i, action in enumerate(candidateAction):
    if action in invalidAction:
        continue
    candidateIndex.append(i) 
print(candidateIndex)

[1, 5, 10, 14, 18, 19, 20, 21, 23, 24, 25, 36, 40, 41, 42, 43, 45, 48, 49, 50, 51, 52, 53, 54, 57, 59, 60, 61, 62, 67, 70, 71, 74]

In [56]:
arr = np.array(candidateAction)
arr[candidateIndex], len(arr[candidateIndex])

(array([  69,  273,  495,  578,  671,  673,  681,  702,  757,  824,  825,
         984, 1029, 1043, 1053, 1081, 1135, 1203, 1309, 1313, 1315, 1340,
        1346, 1350, 1428, 1494, 1508, 1510, 1518, 1666, 1729, 1731, 1774]),
 33)

In [6]:
num = 2
driver_df = pd.read_table('driver_requests_50_{}.txt'.format(num), sep=' ', header=None, names=['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude','seatNum','detourRatio'])

passenger_df = pd.read_table('passenger_requests_100_{}.txt'.format(num), sep=' ', header=None, names=['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude','seatNum','detourRatio','waitTime'])

In [12]:
num = 2
for num in range(2,7):
    driver_df = pd.read_table('driver_requests_50_{}.txt'.format(num), sep=' ', header=None, names=['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude','seatNum','detourRatio'])
    driver_df['seatNum'] = driver_df['seatNum'].astype('int')
    driver_df = driver_df.round(5)
    df1 = driver_df.iloc[:,:5]
    df1.to_csv('./data/driver_requests_50_{}.txt'.format(num), header=None, index=False, sep=' ')

In [13]:
num = 2
for num in range(2,7):
    passenger_df = pd.read_table('passenger_requests_100_{}.txt'.format(num), sep=' ', header=None, names=['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude','seatNum','detourRatio','waitTime'])
    passenger_df = passenger_df.round(5)
    df1 = passenger_df.iloc[:,:5]
    df1.to_csv('./data/passenger_requests_100_{}.txt'.format(num), header=None, index=False, sep=' ')